extends layout

block content

	if req.user
		div(class="container-fluid")
			div(class="row")
				div(class="col-sm-3 sidebar admin-sidebar")
					div(class="text-center")
						h2(class="brand")= title
						img(src="/images/flat-avatar.png" class="user-avatar")
						div(class="row")
							a(href="/auth/logout" class="btn btn-white btn-outline btn-rounded btn-sm logout") Logout
						div( class="btn btn-sm btn-block btn-default user-admin-nav" )
							a(href="/admin") USER
						div( class="btn btn-sm btn-block btn-default user-admin-nav" )
							a(href="/admin/roles") ROLES
						div( class="btn btn-sm btn-block btn-default user-admin-nav" )
							a(href="/admin/roles/permission") PERMISSION

				div(class="info-display")
					div(class="col-md-9")
						h2(class="dashboard-heading")= name
						button(class="btn add-role") Add Role

					div(class="col-md-9")
						div(class="table-responsive")
							table(class="table")
								thead
									tr
										th Name
								each role in roles   
									tbody
										tr
											td= role.name
				div(class="permission-role-info" style="display: none")
					each permission in permissions
						div(class="display-info" id=permission.id)= permission.resource
		script.
			$('.add-role').click(function(){
				$(".permission-role-info .display-info").each(function(index){
					console.log( this.id, this.textContent );
				})
				vex.dialog.open({
					message: "<h2 class='dashboard-heading'> Create New Role </h2>",
					input : "<input name='name' type='text' placeholder='Name' required />",
					callback: function(data){
						$.ajax({
							type: 'POST',
							url: 'http://localhost:3000/admin/roles/create',
							data: data,
							success: function(a,b,c){
								location.reload();
							},
							error: function(response){
								console.log( response );
							}
						})
						console.log( data );
					}
				});
			});
	else
		script.
			vex.dialog.open({
				message: "<h2 class='dashboard-heading'> Please login </h2>",
				input : "<input name='username' type='text' placeholder='Email' required /><input name='password' type='password' placeholder='Password' required />",
				callback : function(data){
					$.ajax({
						url: 'http://localhost:3000/auth/login',
						type: 'POST',
						data: data,
						success: function(a,b,c){ 
							location.reload();
							},
						error: function(response){
							console.log( response );
							}
						});
					}
				});