extends layout

block content

  if req.user
    div(class="container-fluid")
      div(class="row")
        div(class="col-sm-3 sidebar admin-sidebar")
          div(class="text-center")
            h2(class="brand")= title
            img(src="images/flat-avatar.png" class="user-avatar")
            div(class="row")
              a(href="/auth/logout" class="btn btn-white btn-outline btn-rounded btn-sm logout") Logout
            div( class="btn btn-sm btn-block btn-default user-admin-nav" )
              a(href="/admin") USER

        div(class="info-display")
          div(class="col-md-9")
            h2(class="dashboard-heading") Users
            button(class="btn add-user") Add User

          div(class="col-md-9")

            div(class="table-responsive")
              table(class="table")
                thead
                  tr
                    th Username
                    th Email
                    th Actions
                  each user in users   
                    tbody
                      tr
                        td= user.username
                        td= user.email
                        td 
                          a(href="/users/" + user.id + "/destroy") 
                            button(type="button" class="btn btn-xs btn-danger") X
    script.
      $('.add-user').click(function(){
        vex.dialog.open(
        { message : "<h2 class='dashboard-heading'>Create a new User</h2>",
         input : "<input name='username' type='text' placeholder='Username' required /><input name='email' type='text' placeholder='Email' required /><input name='password' type='password' placeholder='Password' required /><input name='repeat_password' type='password' placeholder='Repeat Password' required />",
         callback : function(data){
          if( data ){
            if( data.password == data.repeat_password ){
              $.ajax({
                type: 'POST',
                url: 'http://localhost:3000/users/create',
                data: data,
                success: function(a,b,c){
                  location.reload();
                },
                error: function(response){
                  if( response.status == 409 ){
                    vex.dialog.open({
                      message: "<h2 class='dashboard-heading'>User already exists</h2>"
                    });
                  }

                  if( response.status == 422 ){
                    vex.dialog.open({
                      message: "<h2 class='dashboard-heading'>User email invalid</h2>"
                    });
                  }
                }
              });
            }else{
              vex.dialog.open({
                message: "<h2 class='dashboard-heading'>Password does not Match</h2>"
                });
            }
          }
         }
        });
      })
  else
    script.
      vex.dialog.open({
        message: "<h2 class='dashboard-heading'> Please login </h2>",
        input : "<input name='username' type='text' placeholder='Email' required /><input name='password' type='password' placeholder='Password' required />",
        callback : function(data){
          $.ajax({
            url: 'http://localhost:3000/auth/login',
            type: 'POST',
            data: data,
            success: function(a,b,c){ 
                location.reload();
              },
            error: function(response){
              console.log( response );
            }

          });
        }
      });

