extends layout

block content

  if req.user
    div(class='column col-sm-2 col-xs-1 sidebar-offcanvas' id='sidebar' style='text-align: center;')
      ul(class='nav')
        li
          a(href='#' data-toggle='offcanvas' class='visible-xs text-center')
            i(class='glyphicon glyphicon-chevron-right')

      ul(class='nav hidden-xs' id='lg-menu')
        h2(class="brand")= title
        img(src="/images/flat-avatar.png" class="user-avatar")

        li(class='active')
          a(href='/admin')
            i(class='glyphicon glyphicon-user')  User
        li
          a(href='/admin/roles')
            i(class='glyphicon glyphicon-list')  Roles
        li
          a(href='/admin/roles/permission')
            i(class='glyphicon glyphicon-random')  Permission

    div(class='column col-sm-10 col-xs-11' id='main')
      div(class='padding')
        div(class='full col-sm-12')
          div(class='row')
            div(class='col-sm-12')
              h2(class="dashboard-heading")= name
              button(class="btn add-user") Add User

              div(class="table-responsive")
                table(class="table")
                  thead
                    tr
                      th Username
                      th Email
                      th Actions
                  each user in users
                    tbody
                      tr
                        td= user.username
                        td= user.email
                        td
                          a(href="/users/" + user.id + "/destroy")
                            button(type="button" class="btn btn-xs btn-danger")
                              span(class="glyphicon glyphicon-remove")
    script.
      $('.add-user').click(function(){
        vex.dialog.open(
        { message : "<h2 class='dashboard-heading'>Create a new User</h2>",
         input : "<input name='username' type='text' placeholder='Username' required /><input name='email' type='text' placeholder='Email' required /><input name='password' type='password' placeholder='Password' required /><input name='repeat_password' type='password' placeholder='Repeat Password' required />",
         callback : function(data){
          if( data ){
            if( data.password == data.repeat_password ){
              $.ajax({
                type: 'POST',
                url: 'http://localhost:3000/users/create',
                data: data,
                success: function(a,b,c){
                  location.reload();
                },
                error: function(response){
                  if( response.status == 409 ){
                    vex.dialog.open({
                      message: "<h2 class='dashboard-heading'>User already exists</h2>"
                    });
                  }

                  if( response.status == 422 ){
                    vex.dialog.open({
                      message: "<h2 class='dashboard-heading'>User email invalid</h2>"
                    });
                  }
                }
              });
            }else{
              vex.dialog.open({
                message: "<h2 class='dashboard-heading'>Password does not Match</h2>"
                });
            }
          }
         }
        });
      })
  else
    script.
      vex.dialog.open({
        message: "<h2 class='dashboard-heading'> Please login </h2>",
        input : "<input name='username' type='text' placeholder='Email' required /><input name='password' type='password' placeholder='Password' required />",
        callback : function(data){
          $.ajax({
            url: 'http://localhost:3000/auth/login',
            type: 'POST',
            data: data,
            success: function(a,b,c){ 
                location.reload();
              },
            error: function(response){
              console.log( response );
            }

          });
        }
      });

