extends layout

block content
	h1(class="dashboard-heading")=title

	div(class="info-row")
		div(class="info-box")
			h3(class="info-heading") Properties

		div(class="info-box")
			h3(class="info-heading") Rooms

		div(class="info-box")
			h3(class="info-heading") Bookings

		div(class="info-box")
			h3(class="info-heading") Revenue



		