doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/vex.css')
    link(rel='stylesheet', href='/stylesheets/vex-theme-os.css')
    link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
    
  body
    
    script(src='/javascripts/jquery-1.12.0.min.js')
    script(src='/javascripts/vex.combined.min.js')
    script(src='/javascripts/vex.setting.js')
    script(src='/bootstrap/js/bootstrap.min.js')


    block content



  