doctype html
html
  head
    title= title
    meta(name='viewport' content='width=device-width, initial-scale=1.0 maximum-scale=1.0, minimum-scale=1.0, user-scalable=0')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/vex.css')
    link(rel='stylesheet', href='/stylesheets/vex-theme-os.css')
    link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
    
    
  body
    
    script(src='/javascripts/jquery-1.12.0.min.js')
    script(src='/javascripts/vex.combined.min.js')
    script(src='/javascripts/vex.setting.js')
    script(src='/bootstrap/js/bootstrap.min.js')
    script(src='/javascripts/responive_sidebar.js')

    div(class='wrapper')
        div(class='box')
            div(class='row row-offcanvas row-offcanvas-left')
                block content



  