doctype html
html
  head
    title= title
    meta(name='viewport' content='width=device-width, initial-scale=1.0 maximum-scale=1.0, minimum-scale=1.0, user-scalable=0')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/vex.css')
    link(rel='stylesheet', href='/stylesheets/vex-theme-os.css')
    link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
    
    
  body
    
    script(src='/javascripts/jquery-1.12.0.min.js')
    script(src='/javascripts/vex.combined.min.js')
    script(src='/javascripts/vex.setting.js')
    script(src='/bootstrap/js/bootstrap.min.js')
    script(src='/javascripts/responive_sidebar.js')

    div(class='wrapper')
        div(class='box')
            div(class='row row-offcanvas row-offcanvas-left')
            
                block sidebar_display
                    div(class='column col-sm-2 col-xs-1 sidebar-offcanvas' id='sidebar' style='text-align: center;')
                      ul(class='nav')
                        li
                          a(href='#' data-toggle='offcanvas' class='visible-xs text-center')
                            i(class='glyphicon glyphicon-chevron-right')

                      ul(class='nav hidden-xs' id='lg-menu')
                        h2(class="brand")= title
                        img(src="/images/flat-avatar.png" class="user-avatar")

                        div(class="row")
                          a(href="/auth/logout" class="btn btn-white btn-outline btn-rounded btn-sm logout") Logout

                        li(class='active')
                          a(href='/admin')
                            i(class='glyphicon glyphicon-user')  User
                        li
                          a(href='/admin/roles')
                            i(class='glyphicon glyphicon-list')  Roles
                        li
                          a(href='/admin/roles/permission')
                            i(class='glyphicon glyphicon-random')  Permission

                block content



  